{
	"username":"",
	"password":"",
	"deviceid":"",
	"webserver_ip":"127.0.0.1",
	"webserver_port":8081,
	"epg_dnu_zpetne":1,
	"epg_dnu_dopredu":1,
	"interval_stahovani_epg":0,
	"odstranit_hd":0,
	"debug":0,
	"cesta_streamlink":"/usr/bin/streamlink",
	"cesta_ffmpeg":"/usr/bin/ffmpeg"
}
